<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/styler.css">
</head>

<body>
  <div id="toggle_wrapper">
      <div id = "left">
          <p id="toggle_text"> Toggle KeyPass Authentication </p>
          <label class="switch">
          <input id="authenticate" type="checkbox">
          <span class="slider round"></span>
          </label>
      </div>
      <div id="right">
          <p id="training_text"> Training Toggle </p>
          <label class="switch">
          <input id="training" type="checkbox">
          <span class="slider round"></span>
          </label>
      </div>
      <div id="last_toggle">
          <p id="is_user"> Primary User </p>
          <label class="switch">
          <input id="training" type="checkbox">
          <span class="slider round"></span>
          </label>
      </div>
  </div>
  <div class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>

  <input id = "user_id" type="text" class="username" autofocus="true" required="true" placeholder="Username" />
  <input id = "password" type="text" class="password" required="true" placeholder="Password" />
  <button type="submit" name="Login" class="login_button" onclick="login_action()"> Login </button>
</div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</body>
<script src="../public/javascript/login_action.js"></script>
</html>
